<!DOCTYPE html>
<html>
		<head>
		  <title>SimpleCms</title>
		  <div  id="div1" data-no-Turbolink>
		  <%= javascript_include_tag('public') %>
		 </div> 
		</head>
		

	<body>

		<%= yield %>

	</body>
</html>
